html,
body{
    height: 100%;
    width: 100%;
    margin: 0;

    font-family: Arial;
}

html{
    scroll-behavior: smooth;
}

.wrapper{
    background-color: #4e4a42;
    background-size: cover;
    background-position: center;

    height: 75px;
    padding: 0.8em 0em;
}

.imglogo{
    width: 25%;
}

.navigation{
    display: flex;
    margin-top: 5%;
    padding-bottom: 8em;
}

li a{ 
    text-decoration: none;
    color: white;
    padding: 0.5em;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
}

li a:hover{
    color: yellow;
}

.item1{
    font-size: 12pt;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

.item{
    font-size: 12pt;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}


.main{
    background-image: url(assets/banner1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 95%;

    text-align: center;
    font-size: 18pt;
    padding:  0em;
} 

.imgmain{
    height: 55%;
    padding: 1.8em;
}

.logo{
    text-align: left;
}

.about{
    background: black;
    display: block;
    color: white;
    height: 522px;
    text-align: center;
    position: relative;
   
}

.icon{
    padding:2em;
}

.teas{
    background: white;
    display: block;
    text-align: center;
    height: 541px;
}

footer{
    background: #4e4a42;
    color: white;
    text-align: center;
    top: 10px;
    height: 102px;
}

.contact{
    padding: 1em;
}

h2{
    margin-top: 0%;
    padding: 1em;
}
